*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body
{
    font-family: 'Outfit', sans-serif;
    background:beige;
    color:black;
    line-height:1.8;
}

header
{
    background:linear-gradient(135deg,rgb(214, 13, 13),rgb(151, 10, 151) );
    color:white;
    text-align:center;
    padding:30px;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

header img
{
    width:120px;
    height:auto;
    margin-bottom:10px;
}

header h2
{
    font-size:2rem;
}

header p
{
    font-size:1rem;
    margin-bottom:20px;
}

nav ul
{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    list-style:none;
    gap:15px;
}

nav a
{
    text-decoration:none;
    color:white;
    font-weight:500;
    padding:10px 20px;
    border-radius:30px;
    transition:0.3s;
}

nav a:hover
{
    background:white;
    color:rgb(216, 93, 216);
}

main
{
    max-width:1000px;
    margin:40px auto;
    padding:30px;
    background:white;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

main h1
{
    text-align:center;
    color:rgb(192, 4, 107);
    margin-bottom:20px;
}

main h2
{
    color:rgb(192, 4, 107);
    margin-top:30px;
    margin-bottom:10px;
    border-left:5px solid rgb(224, 55, 92);
    padding-left:10px;
}

main p
{
    margin-bottom:15px;
}

main img
{
    display:block;
    width:500px;
    max-width:100%;
    margin:25px auto 10px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.15);
    transition:0.3s;
}

main img:hover
{
    transform:scale(1.05);
}

main h3
{
    text-align:center;
    color:#333;
    margin-top:10px;
}

main h3 + p
{
    text-align:center;
    font-weight:500;
    color:#555;
}

footer
{
    background:linear-gradient(135deg,rgb(214, 13, 13),rgb(151, 10, 151) );;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}

footer p
{
    margin:5px 0;
}

@media (max-width:768px){

    header h2{
        font-size:1.5rem;
    }

    nav ul{
        flex-direction:column;
        align-items:center;
    }

    main{
        margin:20px;
        padding:20px;
    }
}